@import "var.scss";

html {
  font: 400 px_to_rem(14px) var(--font1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

html,
body {
  text-rendering: optimizeSpeed;

}

body {
  color: #242424;
  background: #F2F4F5;
  font-family: var(--font1);
  text-align: left;
  line-height: 1.313;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 6px;
  background-color: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #236852;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.container {
  width: 1200px;
  max-width: 100%;
  padding: 0;
  position: relative;
  margin: 0 auto
}

body.show_main_menu,
body.hidden {
  overflow: hidden;
  height: 100vh;
  position: relative;
}

.hide {
  display: none;
}

a:focus {
  outline: 1 !important;
}

.btn_next,
.btn_prev {
  position: absolute;
  height: 28px;
  line-height: 28px;
  width: 28px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 9;
  top: 30%;
  text-align: center;
}

.box_category {
  margin-bottom: 25px;
  float: left;
  width: 100%;
}

.banner_mobile_300x250 {
  background: #f4f4f4;
  font-size: 0;
}

a {
  text-decoration: none;
  outline: 1;
  color: #242424;
}

a:hover {
  color: var(--green1);
}

.btn {
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  background: var(--green1);
  padding: 0px 20px;
  border: none;
  cursor: pointer;
  display: inline-block;
  border-radius: 3px;
  font-family: "Roboto", sans-serif;
  transition: 0.5s ease;
  outline: 0;

  &:focus {
    outline: 0;
  }

  &.txt_13 {
    height: 32px;
    line-height: 32px;
  }

  &.disable {
    background: #ccc;
    color: #f1f1f1;

    &:hover {
      background: #ccc;
      color: #f1f1f1;
      cursor: no-drop;
    }
  }

  .refresh {
    vertical-align: text-bottom;
  }

  &:hover {
    background: #37A07F;
    color: #fff;
  }

  &_dvc {
    background: var(--yellow);
  }

  &.yellow {
    background: var(--yellow);
    color: #236852;

    &:hover {
      background: #FFC700;
      color: #236852;
    }
  }
  &.hover-yellow{
    &:hover{
      background: #FFAA00;
      color: #242424;
    }
  }
  &.agray {
    background: #EBEBEB;
    color: #242424;

    &:hover {
      background: #F8F8F8;
    }
  }

  &.green {
    background: #DBFBF1;
    color: #236852;
  }

  &.green {
    background: #DBFBF1;
    color: #236852;
  }

  &.full {
    width: 100%;
  }
  &.white{
    background: #FFFFFF;
    border: 1px solid #999999;
    color: #666666;
  }
}

.btn-default {
  &.none {
    border: 1px solid var(--green1);
    background: #FFFFFF;
    color: var(--green1);
  }

  &:hover {
    border: 1px solid var(--green1);
    background: var(--green1);
    color: #fff;
  }
}

button {
  font-family: "Roboto", sans-serif;
  outline: 0;
  cursor: pointer;
}

.section {
  width: 100%;
  float: left;
  position: relative;
}

.flex {
  .col-2 {
    width: 50%
  }

  .col-3 {
    width: 33.333%
  }

  .col-4 {
    width: 25%
  }

  .col-5 {
    width: 20%
  }

  .col-6 {
    width: 16.667%
  }

  .col-7 {
    width: 14.285%
  }

  .col-8 {
    width: 12.5%
  }
}
.full{
  width: 100%;
}
.space-between {
  justify-content: space-between;
}
.flex-end{
  justify-content:flex-end
}

.align-center {
  align-items: center
}

.width_common {
  width: 100%;
  float: left;
}

.center {
  text-align: center;
}

.navigation_scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#to_top {
  color: #fff;
  background: #236852;
  font-size: 20px;
  display: none;
  border-radius: 3px;
  bottom: 100px;
  cursor: pointer;
  text-align: center;
  height: 40px;
  line-height: 40px;
  outline: medium none;
  padding: 0;
  position: fixed;
  right: 33px;
  width: 40px;
  z-index: 89;
}

img {
  border: 0;
  font-size: 0;
  line-height: 0;
  max-width: 100%;
  vertical-align: middle;
}

ul,
li {
  list-style-type: none;
}

input {
  outline: 0
}

input,
textarea {
  font-family: var(--font1);
  font-size: 11px;
  border: none;
  background: none;

}

input::-webkit-input-placeholder {
  color: #999;
}

input::-moz-input-placeholder {
  color: #999;
}

input::-ms-input-placeholder {
  color: #999;
}

input::-o-input-placeholder {
  color: #999;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.form-group {
  margin-bottom: 15px;
  position: relative;

  &__button {
    .btn {
      position: absolute;
      width: auto;
      font-weight: 400;
      border-radius: 0 10px 10px 0;
      top: 0;
      margin: 0;
      height: 40px;
      right: 0;
      font-size: 13px;
      padding: 0 14px;

      svg {
        fill: #fff !important;
        margin-right: 5px;
        position: static !important;
      }
      &:hover{
        background: #FFAA00;
        color: #242424;
      }
    }
  }

  &.capcha {
    .img_capcha {
      position: absolute;
      height: 36px;
      left: 4px;
      top: 2px;
      border-right: 1px solid #EBEBEB;
    }

    .form-control {
      padding-left: 100px;
    }
  }
  &.voucher{
    .form-control{
      padding-right: 135px;
      @include placeholder{
        color: #757575;
      }
    }
    .apply{
      position: absolute;
      font-size: 13px;
      right: 53px;
      height: 34px;
      line-height: 34px;
      top: 3px;
      font-weight: 400;
      padding: 0 12px;
    }
    .select{
      font-size: 13px;
      position: absolute;
      right: 10px;
      top: 3px;
      line-height: 35px;
    }
  }
}

.form-control {
  border: 1px solid #EBEBEB;
  @extend .radius10;
  height: 40px;
  padding: 0 10px;
  color: #242424;
  font-size: 14px;
  width: 100%;
  outline: 0;
  margin-bottom: 8px;
  @extend .transition_ease;

  &.error {
    border: 1px solid #DE0028;
    background: #FFF7F8;
    font-size: 14px;
  }

  &.disable {
    background: #EBEBEB;
    border: 1px solid #EBEBEB;
  }

  &:focus {
    border: 1px solid var(--green2);
  }
}

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(images/icons/down.svg) no-repeat right 16px top 15px;
}

textarea.form-control {
  resize: none
}

.confir_res {
  padding-left: 30px;
  position: relative;
  cursor: pointer;
  display: block;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: -3px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 4px;

    &:hover {
      border: 1px solid var(--green1);
    }

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 7px;
      top: 1px;
      width: 4px;
      height: 12px;
      border: solid var(--green1);
      border-width: 0 1px 1px 0;
      transform: rotate(45deg);
    }
  }

  input:checked~.checkmark:after {
    display: block;
  }

  input:checked~.checkmark {
    border: 1px solid var(--green1);
  }

  input:disabled~.checkmark {
    border: 1px solid #EBEBEB;
  }

  input:disabled~.checkmark:after {
    border: solid #EBEBEB;
    border-width: 0 1px 1px 0;
  }

  &.circle {
    .checkmark {
      border-radius: 50%;
      border: 1px solid #999999;

      &:hover {
        border: 1px solid #999999;
      }

      &:after {
        border: solid #fff;
        border-width: 0 1px 1px 0;
      }
    }

    input:checked~.checkmark {
      background: var(--green1);
      border: 1px solid var(--green1);
    }
  }
}



.clearfix {
  clear: both;
}

.clearfix::before,
.clearfix::after {
  display: table;
  content: "";
}

hr {
  border: 0.5px solid #B9B8B8;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding: 0 10px;
}

.left {
  float: left;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

// .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
//     padding: 8px;
//     line-height: 1.42857143;
//     vertical-align: middle;
//     border-top: 1px solid #dfdfdf;  
// }
.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.right {
  float: right;
}

.width_common {
  width: 100%;
  float: left;
}

.hidden320 {
  font-size: 0;
}

.uppercase {
  text-transform: uppercase;
}

.line-bottom {
  border-bottom: 1px solid #eee;
}

html {
  -webkit-text-size-adjust: none;
}

.no_wrap {
  white-space: nowrap;
}

.txt_10 {
  font-size: 10px !important;
}

.txt_11 {
  font-size: 11px !important;
}

.txt_12 {
  font-size: 12px !important;
}

.txt_13 {
  font-size: 13px !important;
}

.txt_14 {
  font-size: 14px !important;
}

.txt_15 {
  font-size: 15px !important;
}

.txt_16 {
  font-size: 16px !important;
}

.txt_18 {
  font-size: 18px !important;
}

.txt_20 {
  font-size: 20px !important;
}

.txt_22 {
  font-size: 22px !important
}

.txt_24 {
  font-size: 24px !important
}



.mb5 {
  margin-bottom: 5px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}
.mb8{
  margin-bottom: 8px!important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb12 {
  margin-bottom: 12px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}
.mb24 {
  margin-bottom: 24px !important;
}
.mb25 {
  margin-bottom: 25px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt25 {
  margin-top: 25px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mt60 {
  margin-top: 60px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-20 {
  margin-left: 20px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-r-20 {
  margin-right: 20px;
}



.icon-us {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  fill: currentColor;

  &.refresh {
    -webkit-animation: spin 2.5s linear infinite;
    -moz-animation: spin 2.5s linear infinite;
    animation: spin 2.5s linear infinite;
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.sticky {
  position: -webkit-sticky;
  position: sticky !important;
  top: 0;
}

.transition_ease {
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

.radius0 {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.radius10 {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.text_error {
  color: red
}

.color_ylow {
  color: var(--yellow)
}
.cursor{
  cursor: pointer;
}
.color_blue {
  color: #2F80ED
}
.color_green {
  color: var(--green1)
}

.color_green2 {
  color: var(--green2)
}

.underline {
  text-decoration: underline;
  text-underline-position: under;
}

.red {
  color: #DE0028;
}

.error {
  color: #DE0028;
  font-size: 12px;
}

.bg_gray {
  background: #f8f8f6;
}

.bg-white {
  background: #fff;
}

.txt_000 {
  color: #000
}

.black {
  color: var(--black);
}
.txt_333 {
  color: #333;
}
.txt_666 {
  color: #666;
}

.txt_vne {
  color: #9f224e;
}

.color_black {
  color: #333;
}

.color_333 {
  color: #333;
}

.color_666 {
  color: #666;
}

.color_999 {
  color: #999
}

.fs {
  font-size: 0
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.medium {
  font-weight: 500
}
.f-300{
  font-weight: 300
}
.f-400{
  font-weight: 400
}


.price {
  em {
    font-style: inherit;
    border-bottom: 1px solid;
    display: inline-block;
    line-height: 0.9;
  }
}

.relative {
  position: relative;
}

.thumb_big {
  position: relative;
}

.ava img {
  max-height: 95%;
  max-width: 95%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.thumb_art {
  position: relative;
  float: left;
}

.thumb_img {
  display: block;
  height: 0;
  position: relative;
  overflow: hidden;
}

.thumb_img.thumb_video {
  padding-bottom: 56.25%;
}

.thumb_img.thumb_5x3 {
  padding-bottom: 60%;
}

.thumb_img.thumb_5x4 {
  padding-bottom: 74%;
}

.thumb_img.thumb_2x3 {
  padding-bottom: 138%;
}

.thumb_img.thumb_5x5 {
  padding-bottom: 100%;
}

.thumb_video {
  padding-bottom: 56.25%
}

.thumb_img img {
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}



.thumb_img video,
.thumb_img iframe {
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}