.header-block {
    margin-bottom: 0;
}

.bg-landingpage {
    background: #F3FFFB;
    padding-bottom: 100px;

}

.menu_control {
    margin-bottom: 15px;
    padding: 10px 0;
    border-bottom: 1px solid #EBEBEB;
}

.live-ldp {
    .wrap-live {
        width: 794px;
        width: calc(100% - 394px);
        position: relative;

        img {
            -o-object-position: top;
            object-position: top;
            -o-object-fit: cover;
            object-fit: cover;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }
    }

    .list-live {
        width: 394px;
        padding-left: 24px;

        .title-live {
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            background: url(images/graphics/bg-live.png) no-repeat top 0 left 0px;
            background-size: contain;
            display: inline-block;
            padding: 26px 25px 10px 40px;
            margin-top: -30px;
            margin-left: -10px;
            margin-bottom: -10px;
            z-index: 2;
            position: relative;
        }

        .scrollbar-inner {
            max-height: 440px;
            padding-right: 15px;
            ;
        }

        .product-item {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 14px;
            background: #FFFFFF;
            border: 1px solid #EBEBEB;
            padding: 15px 15px 12px 10px;
            border-radius: 10px;

            &::before {
                display: none;
            }

            &.active {
                border: 2px solid #01B113;
            }

            .thumb {
                width: 80px;

                .ava {
                    height: 0;
                    padding-bottom: 100%;
                    margin-bottom: 0;
                }
            }

            .content {
                width: calc(100% - 80px);
                padding-left: 12px;
                min-height: 100%;
            }

            .title {
                font-weight: bold;
                font-size: 14px;
            }

            .price {
                margin-bottom: 0;
                font-size: 16px;
                font-weight: bold;
            }
        }

        .flex-bottom {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 15px;
            width: 100%;
        }

        .sl_giohang {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            text-align: right;
            font-size: 0;

            span {
                font-size: 12px;
                margin-right: 4px;
            }

            .input-group-prepend {
                width: 30px;
                height: 33px;
                float: none;
                display: inline-block;
                vertical-align: top;

                .giam_sl {
                    font-size: 16px;
                }

                button {
                    font-size: 20px;
                    width: 30px;
                    height: 33px;
                    background: #fff;
                    border: 1px solid #A3A3A3;
                    outline: 0;
                    cursor: pointer;
                    border-radius: 4px 0 0 4px;
                    color: #666;
                    font-size: 13px;

                    &.tang_sl {
                        border-radius: 0 4px 4px 0;
                    }
                }
            }

            .qty_input {
                width: 35px;
                height: 33px;
                font-weight: bold;
                background: #fff;
                border: 0;
                float: none;
                font-size: 13px;
                text-align: center;
                outline: 0;
                border-top: 1px solid #A3A3A3;
                border-bottom: 1px solid #A3A3A3;
            }
        }

        .btn {
            background: var(--yellow);
            color: var(--green1);
            border-radius: 10px;
            font-size: 14px;
            height: 34px;
            line-height: 36px;

            svg {
                margin-left: 6px;
                width: 12px;
                height: 12px;
                vertical-align: inherit;
                fill: var(--green1);
            }
        }
    }

    @media (max-width: 1025px) {

        .list-live {
            .scrollbar-inner {
                max-height: 340px;
            }
        }
    }

    @media (max-width: 768px) {
        .wrap-live {
            width: 100%;
            margin-bottom: 30px;

            img {
                position: static;
            }
        }

        .list-live {
            width: 100%;
            padding-left: 0;

            .scrollbar-inner {
                max-height: 340px;
            }
        }
    }
}

.slide_sale {
    .title_category {
        background: none;
        padding: 0;
    }
}

.box-quan-tam {
    .head-title2 .title_category {
        color: #222222;
    }
}

footer {
    margin-top: 0 !important;
}

@media (max-width: 1025px) {
    .bg-landingpage {
        .head-title {
            .title_category {
                width: auto;
                margin-bottom: 0;
            }

            .option {
                width: auto;
                margin-top: 0;
            }
        }
    }
}