* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}

body {
    margin: 0 auto;
    color: #000;
    font-family: var(--font1);
    font-size: 14px;
    line-height: 1.5;
}


// @media (min-width:1200px) {
//     .container {
//         max-width: 1200px;
//     }
// }


.container {
    position: relative;
}

.width_common {
    width: 100%;
    float: left;
}

.sicky {
    position: sticky;
    top: 0
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center
}

.inner_section {
    padding-left: 15px;
    padding-right: 15px;
}

.container_header {
    text-align: center;
    position: relative;
}

body.show_menu_full,
body.hidden {
    overflow: hidden;
    height: 100%;
}

a {
    color: var(--blue700);
    text-decoration: none;
    outline: none;

    &:hover {
        color: var(--green)
    }
}

a:hover {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

.icon-svg {
    width: 14px;
    height: 14px;
    fill: currentColor;
    vertical-align: middle;
    color: var(--gray3)
}

.ic {
    width: 16px;
    height: 16px;
    fill: #757575;
    display: inline-block;
    vertical-align: middle;
}

img {
    border: 0px;
    font-size: 0;
    line-height: 0;
    max-width: 100%;
    vertical-align: middle;
}

ul,
li {
    list-style-type: none;
}

.input-form {
    margin-bottom: 15px;
    position: relative;
    display: block;
}


.thumb_img {
    display: block;
    overflow: hidden;
    height: 1px;
    position: relative;
    width: 100%;
    background: #f4f4f4;

    img {
        object-fit: cover;
        object-position: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

.thumb_img.thumb_5x2 {
    padding-bottom: 50%;
}

.thumb_img.thumb_5x3 {
    padding-bottom: 60%;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea.form-control,
select.form-control {
    background: #fff;
    width: 100%;
    height: 50px;
    border: 1px solid #274C98;
    font-size: 15px;
    padding: 0 12px;
    outline: none;
    font-family: arial;
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);

    @include placeholder {
        color: #A7A9AC;
    }

    &:focus,
    &:active {
        outline: 0;
        box-shadow: none;
        border: 1px solid var(--blue700);
    }
}

textarea.form-control {
    padding-top: 10px;
}

.form_main .input_element {
    width: 100%;
    float: left;
    position: relative
}

.form_main .input_main {
    width: 100%;
    float: left;
    background: #FFFFFF;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    height: 40px;
    padding: 0 10px;
    color: #333;
    font-size: 15px;
    outline: none
}

.btn-default {
    background: linear-gradient(90.03deg, #FF5C81 0.03%, #FF9373 99.98%, #FF0000 99.98%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    height: 60px;
    line-height: 60px;
    display: inline-block;
    border-radius: 30px;
    padding: 0 20px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;

    &:hover {
        background: #FF5C81;
        color: #fff;
    }

    &.green {
        background: #2CBA68;
        color: #fff;
        padding: 0 40px;
    }

    &.yellow {
        background: var(--yellow);
        color: #58595B;
        border: 1px solid var(--yellow);

        &:hover {
            background: var(--yellow-hover);
        }
    }

    &.white {
        background: #FFFFFF;
        color: #58595B;
        border: 1px solid #fff;

        &:hover {
            background: #111111;
            color: #fff;
            border: 1px solid #111111;

        }
    }

    &.gray {
        background: #58595B;
        color: #FFDD00;
        border: 1px solid #58595B;

        &:hover {
            background: #111111;
            color: #fff;
            border: 1px solid #111111;

        }
    }


    &.bold {
        font-weight: bold;
    }

    &.full {
        width: 100%;
    }
}


.error_mess {
    color: #FF9494;
    font-size: 13px;
    line-height: 15px;
    margin-top: 5px;
    display: inline-block;
}

.color-green {
    color: var(--green)
}

.clear {
    clear: both;
    font-size: 0;
    line-height: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.4;
}

html {
    -webkit-text-size-adjust: none;
}

.txt_italic {
    font-style: italic;
}

.txt_center {
    text-align: center;
}

.txt_left {
    text-align: left;
}

.txt_right {
    text-align: right;
}

.txt_bold {
    font-weight: 700;
}

.txt_underline {
    text-decoration: underline;
}

.txt_fff {
    color: var(--white);
}

.txt_666 {
    color: #666;
}

.txt_333 {
    color: #333;
}

.txt_11 {
    font-size: 11px;
}

.txt_12 {
    font-size: 12px;
}

.txt_13 {
    font-size: 13px;
}

.txt_14 {
    font-size: 14px;
}

.txt_15 {
    font-size: 15px;
}

.txt_16 {
    font-size: 16px;
}

.txt_17 {
    font-size: 17px;
}

.txt_18 {
    font-size: 18px;
}

.txt_20 {
    font-size: 20px;
}

.txt_22 {
    font-size: 22px;
}

.txt_24 {
    font-size: 24px;
}

.txt_35 {
    font-size: 35px;
}

.relative {
    position: relative;
}

.space_bottom_5 {
    margin-bottom: 10px;
}

.mb0 {
    margin-bottom: 0 !important;
}

.mt5 {
    margin-top: 5px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mt15 {
    margin-top: 15px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mt30 {
    margin-top: 30px !important;
}

.mt40 {
    margin-top: 40px !important;
}

.mt50 {
    margin-top: 50px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb24 {
    margin-bottom: 24px;
}

.mb30 {
    margin-bottom: 30px !important;
}

.mb39 {
    margin-bottom: 39px !important;
}

.mb40 {
    margin-bottom: 40px !important;
}

.mb50 {
    margin-bottom: 50px !important;
}

.mb70 {
    margin-bottom: 70px !important;
}

.mb90 {
    margin-bottom: 90px !important;
}

.mb100 {
    margin-bottom: 100px !important;
}

.space_bottom_10 {
    margin-bottom: 10px;
}

.space_bottom_20 {
    margin-bottom: 20px;
}

.space_bottom_30,
.mb30 {
    margin-bottom: 30px;
}

.space_left_0 {
    padding-left: 0;
}

.space_right_0 {
    padding-right: 0;
}


.overlay-bg {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 92;
    background: rgba(0, 0, 0, 0.3);
}

#to_top {
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: var(--blue700);
    position: fixed;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    z-index: 99;
    display: none;

    svg {
        width: 23px;
        height: 23px;
        transform: rotate(-90deg);
        color: #fff;
    }

    i {
        color: #fff;
    }
}

.sticky {
    position: sticky;
    top: 0;
}

.clearfix {
    clear: both;

    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}