

.product-item {
    position: relative;
    padding: 0 12px;
    margin-bottom: 50px;

    .wrap {
        background: #fff;
        border-radius: 4px;
        overflow: hidden;
    }

    & * {
        @extend .transition_ease
    }


    .sale {
        display: block;
        background: #f9c74a;
        line-height: 46px;
        position: absolute;
        right: 15px;
        top: 20px;
        z-index: 1;
        width: 46px;
        height: 46px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        text-align: center;
        font-size: 14px;
        color: #da0712;

        &::before {
            content: "";
            position: absolute;
            left: 4px;
            top: 4px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            border: 1px solid #999;
            width: 36px;
            height: 36px;
        }
    }

    .ava {
        display: block;
        height: 250px;
        position: relative;
    }

    .like {
        position: absolute;
        top: -5px;
        left: -5px;
        width: 32px;
        height: 32px;
        text-align: center;
        line-height: 32px;
        background: #FFFFFF;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        opacity: 0;
        transition: 0.5s ease;

        &.active {
            svg {
                fill: #DE0028;
            }
        }

        &:hover {
            svg {
                fill: #DE0028
            }
        }
    }

    .content {
        padding: 10px 15px;

        .star {
            position: relative;
            color: #666666;
            font-size: 11px;
            margin-bottom: 4px;

            .buy {
                float: right;
            }
        }

        .ct_star {
            position: relative;
            color: #666666;
            font-size: 11px;
            margin-bottom: 8px;

            svg {
                fill: var(--yellow);
                width: 12px;
                height: 12px;
            }

            .buy {
                float: right;
                margin-top: 2px;
            }
        }

        .title {
            font-size: 18px;
            margin-bottom: 10px;
            font-weight: 400;
            max-height: 46px;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            text-align: left;

            a {
                color: #242424;
            }

            img {
                float: left;
                margin-right: 5px;
            }
        }

        .sale_old {
            margin-bottom: 5px;

            .old {
                float: none;
                display: inline-block;
            }

            .sale-up {
                background: var(--green1);
                color: #fff;
                font-weight: 500;
                font-size: 12px;
                border-radius: 3px;
                padding: 1px 3px;
                margin-left: 8px;
                display: inline-block;
            }
        }

        .flex {
            font-size: 13px;
            color: #666666;
            font-weight: 300;
            margin: 0 -10px 12px -10px;

            &.placeholder {
                margin: 0 0 12px 0;
            }

            .col-2 {
                padding: 0 10px;
                position: relative;
                width: 100%;

                &:before {
                    content: "";
                    background: #eee;
                    width: 1px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                }

                &:last-child {
                    &:before {
                        display: none;
                    }
                }
            }

            span {
                margin-right: 5px;
                display: inline-block;
            }
        }

        .code {
            border-radius: 6px;
            background: var(--green2);
            color: #fff;
            font-size: 13px;
            text-transform: uppercase;
            padding: 3px 12px;
        }

        .price {
            font-size: 18px;
            color: #0c264f;
            margin-bottom: 10px;
            display: inline-block;
            font-weight: bold;
            display: flex;

            .old {
                color: #666;
                margin: 4px 0 0 10px;
                font-size: 13px;
                font-weight: 400;
            }
        }

        .exist {
            font-size: 13px;
            padding: 0 14px 0 0;
            position: relative;
            background: #fff;
            border-radius: 20px;
            height: 8px;
            margin-bottom: 30px;
            .note {
                padding-top: 14px;
                display: block;
                .number{
                    color: #ff0048;
                }
            }

            .rest {
                position: absolute;
                background: #ef5371;
                height: 8px;
                top: 0;
                left: 0;
                z-index: 0;
                border-radius: 20px;
                &_10 {
                    width: 10%;
                }

                &_20 {
                    width: 20%;
                }

                &_30 {
                    width: 30%;
                }

                &_40 {
                    width: 40%;
                }

                &_50 {
                    width: 50%;
                }

                &_60 {
                    width: 60%;
                }

                &_70 {
                    width: 70%;
                }

                &_80 {
                    width: 80%;
                }

                &_90 {
                    width: 90%;
                }

                &_100 {
                    width: 10%;
                }
            }
        }

        .start-time {
            color: var(--green2);
            font-size: 13px;

            span {
                font-weight: bold;
            }
        }

        .brand_label {
            font-size: 12px;
            color: #999;
            font-weight: 300;
            display: block;

            img {
                width: 20px;
                height: 20px;
                float: left;
                margin: -2px 5px 0 0
            }
        }

        .btn {
            background: #155d8d;
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            font-weight: 500;
            padding: 0 30px;
            border-radius: 40px;
        }
    }

    &:hover {
        .content {
            background: #fff3d5;
        }

        .like {
            opacity: 1;
        }
    }
}

.list-product {
    margin: 0 -10px;
    &.bg-white{
        background: rgba(255, 255, 255, 0.4);
        padding: 20px 0;
        margin: 0 -20px;
        .product-item{
            padding: 0 20px;
            margin-bottom: 40px;
            .content{
                background:#ffd5db url(images/graphics/bg-itemt.png);
                .title{
                    font-size: 17px;
                    color: #414453;
                }
                .price{
                    color: #ff0048;
                    .old{
                        color: #ff0048;
                        text-decoration: line-through;
                        font-weight: bold;
                    }
                }
                .btn{
                    background: #ff0048;
                    text-transform: uppercase;
                }
            }
        }
    }
    &__2 {
        position: relative;

        .product-item {
            padding: 10px;
            margin-bottom: 10px;
            position: relative;

            .ava {
                height: 200px;
            }

            .content {
                background: #fff;
                padding: 10px;

                .title {
                    display: block;
                    font-size: 16px;
                    height: 42px;
                }

                .price {
                    display: inline-block;
                    font-size: 15px;
                    color: var(--green1);
                    margin-bottom: 0;
                    &.flex{
                        margin: 0;
                        justify-content: space-between;
                        display: flex;
                    }
                    &_new{
                        color: #da0712;
                    }
                    &_old{
                        color: #242424;
                        text-decoration: line-through;
                        font-weight: 400;
                    }
                }
            }
        }
    }

    &.slide {
        margin: 0;

        .product-item {
            padding: 0;
            margin-bottom: 20px;
        }

        .swiper-pagination {
            margin-top: 20px;
            position: static;

            &-bullet {
                width: 15px;
                height: 15px;
                margin: 0 5px;

                &-active {
                    background: #000;
                }
            }
        }
    }
}

.xem_them {
    background: #0c264f;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 400;
    padding: 0 50px;

    &.green {
        background: #08224a;
        color: #fff;

        &:hover {
            background: var(--green2);
        }

    }
    &.white {
        background: #fff;
        color: #ff5f8c;
        font-size: 18px;
        border: 2px solid #f15270;
        border-radius: 30px;
        height: 42px;
        line-height: 39px;

    }
}

.tab-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;

    .btn {
        color: #fff;
        background: #ff5f8c;
        height: 45px;
        line-height: 40px;
        font-weight: 400;
        margin: 0 15px 10px 15px;
        border-radius: 50px;
        padding: 0px 30px;
        border: 4px solid #fdc8d0;

        &.active {
            color: #ff5f8c;
            background: #fff;
            font-weight: 500;
        }
    }
}

.banner-home{
    position: relative;
    margin-bottom: 30px;
    .content{
        max-width: 635px;
        margin: 0 auto;
        padding-top: 60px;
        position: relative;
        z-index: 2;
    }
    img{
        width: 100%;
    }
    &::before{
        content: "";
        background: url(images/graphics/left-banner.png) no-repeat;
        background-size: contain;
        width: 366px;
        height: 477px;
        position: absolute;
        left: 0;top: 0;
    }
    &::after{
        content: "";
        background: url(images/graphics/right-banner.png) no-repeat;
        background-size: contain;
        width: 328px;
        height: 478px;
        position: absolute;
        right: 0;
        top: 0;
    }

    @media (max-width: 1280px) {
        &::before{
            width: 270px;
            height: 350px;
        }
        &::after{
            width: 270px;
            height: 390px;
        }
    }
    @media (max-width: 1025px) {
        &::before{
            width: 160px;
            height: 210px;
        }
        &::after{
            width: 144px;
            height: 210px;
        }
    }
    @media (max-width: 991px) {
        &::before{
            width: 160px;
            height: 210px;
        }
        &::after{
            width: 144px;
            height: 210px;
        }
    }

    @media (max-width: 480px) {
        margin-bottom: 10px;
        .hidden-mobile{display: none;}
        &::before{
            width: 60px;
            height: 78px;
        }
        &::after{
            width: 60px;
            height: 86px;
        }
        .content{
            padding-top: 30px;
        }
        .hidden-pc{
            display: block;
            text-align: center;
            padding: 0 10px;
            max-width: 500px;
            margin: 0 auto;
        }
        .note{
            border-top: 1px solid #fe4377;
            border-bottom: 1px solid #fe4377;
            padding: 6px;
            font-family: cursive;
            font-style: italic;
            font-size: 16px;
            margin: 15px 0 0 0;
        }
        .code{
            div{
                width: 50%;
                margin-top: 20px;
                padding: 0 10px;
                img{
                    max-width: 218px;
                }
            }
        }
    }
}
.bg-frame {
    font-family: var(--font2);
    background: url(images/graphics/bg-frame.png) top -70px center;
    
}

.title_line {
    text-align: center;
    font-size: 40px;
    margin-bottom: 60px;
    font-weight: 500;
    font-family: var(--font2);

    &::before {
        content: "";
        background: url(images/graphics/title_cate2.png) center;
        position: absolute;
        right: 0;
        height: 50px;
        left: 0;
    }

    span {
        position: relative;
        padding: 0 60px;
        background: #fff;
        line-height: 50px;
        display: inline-block;
    }

    @media (max-width: 991px) {
        font-size: 30px;
        margin-bottom: 20px;

        &::before {
            display: none;
        }
    }
}




//RESPONSIVE CHUNG
@media (max-width: 1199px) {
    .product-item {
        margin-bottom: 20px;
    }

    .mb60 {
        margin-bottom: 40px;
    }

    .flex {
        .col-4 {
            width: 33.33%;
        }

        .col-5 {
            width: 25%;
        }
    }

}

@media (max-width: 991px) {

    .flex {
        .col-4 {
            width: 50%;
        }

        .col-5 {
            width: 33.33%;
        }
    }
}

@media (max-width: 767px) {
    .section {
        overflow: hidden;
    }

    .flex {
        .col-5 {
            width: 50%;
        }
    }
}

@media (max-width: 480px) {
    
    .xem_them {
        display: inline-block;
        margin-top: 15px;
    }
    .bg-frame{
        background: none;
        &>.center{
            display: flex;
            justify-content: center;
            img{
                max-width: 500px;
            }
        }
    }
    .product-item {
        .ava {
            height: 150px;
        }

        .content {
            padding: 10px;
            .btn{
                font-size: 11px;
            }
            .title {
                font-size: 14px!important
            }

            .price {
                flex-wrap: wrap;
                font-size: 16px;
                .old {
                    width: 100%;
                    margin-left: 0;
                }
            }
        }
    }

    .list-product {
        margin: 0 -5px;
        &.bg-white{
            margin: 0 -5px;
            padding: 10px 0 0 0;
            .product-item{
                padding: 0 5px;
                margin-bottom: 10px;
            }
        }
        .product-item {
            width: 50%;
            padding: 0 5px;
            margin-bottom: 10px;

            .ava {
                height: 150px;
            }
        }
    }

    .mb30 {
        margin-bottom: 20px !important;
    }

    .tab-category {
        margin-bottom: 10px;

        .btn {
            margin: 0 5px 10px 5px;
            padding: 0 15px;
            font-size: 13px;
            border: 3px solid rgba(255, 255, 255, .75);
            height: 38px;
            line-height: 33px;
            &.active{
                border: 3px solid #ff5f8c;
            }
        }
    }
}

@media (max-width: 360px) {
    .list-product .product-item {
        width: 100%;
    }
}