<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="description" content="design 2018">
    <meta name="keywords" content="design 2018">
    <title>
        <!-- build:title -->
    </title>
    <link type="image/x-icon" href="http://ssl.gstatic.com/docs/doclist/images/infinite_arrow_favicon_5.ico"
        rel="shortcut icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=vietnamese" rel="stylesheet">
    <!-- build:head -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <!-- build:head2 -->
</head>

<body>

    <!--HEADER-->
    <header class="header-block sticky clearfix">
        <div class="container">
            <div class="warp-search">
                <input type="text" class="input_search" name="" value=""
                    placeholder="Nhập từ khóa, mã sản phẩm, link sản phẩm...">
                <div class="suggest-search">
                    <div class="history">
                        <ul>
                            <h3>Lịch sử tìm kiếm</h3>
                            <a class="clear" href="">Xóa tất cả</a>
                            <li><a href="">Iphone xs max</a></li>
                            <li><a href="">Diệp hạ châu</a></li>
                            <li><a href="">Sản Phẩm Dinh Dưỡng Nestle Nutren Junior
                                    (800g)</a></li>
                            <li><a href="">Sữa tăng cân dành cho người béo phì</a></li>
                        </ul>
                        <ul class="end">
                            <h3>Tìm kiếm phổ biến</h3>
                            <li><a href="">Iphone xs max</a></li>
                            <li><a href="">Quạt điều hòa</a></li>
                            <li><a href="">Quạt điều hòa</a></li>
                            <li><a href="">Quạt điều hòa</a></li>
                        </ul>
                    </div>
                    <div class="key-search">
                        <ul>
                            <li><a href="">Apple iphone </a></li>
                            <li><a href="">Apple iphone trong <span class="color_ylow">Điện
                                        Thoại - Máy Tính
                                        Bảng</span></a></li>
                            <li><a href="">Apple iphone xs</a></li>
                            <li><a href="">Apple iphone xs max 512GB</a></li>
                            <li><a href="">Apple iphone 6s</a></li>
                        </ul>
                    </div>
                </div>
                <button type="submit" class="icon_seach_web">
                    <svg class="icon-us">
                        <use xlink:href="images/icons/icon.svg#search"></use>
                    </svg>
                </button>
            </div>
        </div>
    </header>
    <!--END HEADER-->


    <!-- build:content -->

    <section class="clearfix" style="height: 80px"></section>

    <!--Jquery lib-->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <script type="text/javascript" src="js/svgxuse.min.js"></script>
    <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <!-- build:script -->
    <!-- build:script2 -->
</body>

</html>